/* 
 * AngularJS animation : ng-repeat rules
 * http://www.yearofmoo.com/2013/04/animation-in-angularjs.html
 */

.custom-enter-setup, .custom-leave-setup, .custom-move-setup {
  -webkit-transition: .5s linear all;
  -moz-transition: .5s linear all;
  -o-transition: .5s linear all;
  transition: .5s linear all;
  position: relative;
}

.custom-enter-setup {
  left: -10px;
  opacity: 0;
}
.custom-enter-setup.custom-enter-start {
  left: 0;
  opacity: 1;
}

.custom-leave-setup {
  left: 0;
  opacity: 1;
}
.custom-leave-setup.custom-leave-start {
  left: -10px;
  opacity: 0;
}

.custom-move-setup {
  opacity: 0.5;
}
.custom-move-setup.custom-move-start {
  opacity: 1;
}